<!-- <div class="car-list-home-container">
    <div class="row car-list-home">
        <div class="col-md-3 mt-3" *ngFor="let item of bookedCars">
            <app-car-card [carData]="item"></app-car-card>
        </div>
    </div>
</div> -->

<!-- <section class="car-list-card">
    <div class="car-list-card-image" style="height: 160px;" *ngFor="let item of bookedCars">
        <img [src]="item.imageUrl">
    </div>
    <div class="car-list-card-description">
        <div class="car-list-card-description-reviews">
            <div class="car-list-card-description-reviews-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
            <div class="car-list-card-description-reviews-value">
                4.98
            </div>
            <div class="car-list-card-description-reviews-count">
            </div>
        </div>
        <div class="car-list-card-description-title" *ngFor="let item of bookedCars">
            {{item.brand}} {{item.name}}
        </div>
        <div class="car-list-card-description-properties">
            <div class="car-list-card-description-properties-property" *ngFor="let item of bookedCars.carAccessoriess">
                {{item.accessoriesTitle}}
                <div class="property-point"></div>
            </div>
        </div>
    </div>
    <div class="car-list-card-price-distance">
        <div class="car-list-card-price">
            <div class="car-list-card-price-availability-text" *ngFor="let item of bookedCars">
                {{item.registeredOn | date:'dd-MMM-yyyy'}}
            </div>
            <div class="car-list-card-price-title" *ngFor="let item of bookedCars">
               {{item.pricingDescription}}
            </div>
            <div class="car-list-card-price-sub-title">

            </div>
        </div>
        <div class="car-list-card-distance">
            <i class="bi bi-geo-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"/>
              </svg></i>
            <div class="car-list-card-distance-place" *ngFor="let item of bookedCars">
                {{item.locationTitle}}
            </div>
        </div>
    </div>
</section> -->

<div class="container">
    <div class="row">
        <div class="mt-5 col-md-3" *ngFor="let item of bookedCars">
            <div class="card">
                <img [src]="item.imageUrl" class="card-img-top" alt="..."> 
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{item.accessoriesTitle}}</p>
              <p>{{item.registeredOn | date:'dd-MMM-yyyy'}}</p>
              <p>{{item.pricingDescription}}</p>
              <p>
                <i class="bi bi-geo-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"/>
                  </svg></i>
                    {{item.locationTitle}}
              </p>
              <!-- <button class="btn btn-success" (click)="deleteBookingById()">cancel booking</button> -->
            </div>
            </div>
          </div>
    </div>
</div>